.game-board { 
	empty-cells: show;
}

.game-board td, .game-board th {
	width: 30px;
	height: 30px;
	border: 1px solid black;
}

.game-board th {
	background: gray;
}

.game-board .game-board-player-0 {
	background: red;
}
.game-board .game-board-player-1 {
	background: blue;
}
